:root:before
{
   content: ">>You should view this data file in a RSS reader.  For more information see http://blogspace.com/rss/readers or google for 'rss readers'";
}

rss
{
    display: block;
    margin: 10px;
}


channel
{
    display: block;
    border: 1px solid #000;
    overflow: auto;
    background-color: #d6e3ef;
    font: 12px verdana;
}


item
{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

channel>title, channel>description
{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #d6e3ef;
    font-weight: bold;
}

channel>title
{
    font-size: 16px;
}

channel>description
{
    font-size: 10px;
    margin-bottom: 10px;
}

item>title
{
    font-weight: bold;
}

item>link, channel>link, channel>language, channel>copyright, 
channel>generator, channel>lastBuildDate, channel>ttl, channel>docs, 
item>guid, item>pubDate
{
    display: none;
}
